In [25]:
import requests
import pandas as pd

url = "https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

# 네트워크 탭의 Form Data 그대로 복사
params = {
    "bld": "dbms/MDC/STAT/standard/MDCSTAT03901",  # 페이지마다 다름
    "mktId": "STK",          # 코스피=STK, 코스닥=KSQ, 전체=ALL
    "trdDd": "20251010",     # 조회 날짜
    "share": "1",
    "money": "1",
    "csvxls_isNo": "false"
}

headers = {
    "User-Agent": "Mozilla/5.0",
    "Referer": "https://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201020505",
    "X-Requested-With": "XMLHttpRequest",
    "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"
}

response = requests.post(url, data=params, headers=headers)
data = response.json()

# DataFrame으로 변환
df = pd.DataFrame(data['block1'])

In [26]:
# 특정 산업 필터링
agri_df = df[df['IDX_IND_NM'] == "농업, 임업 및 어업"]
agri_df.head()

,ISU_SRT_CD,ISU_ABBRV,MKT_TP_NM,IDX_IND_NM,TDD_CLSPRC,CMPPREVDD_PRC,FLUC_RT,MKTCAP,FLUC_TP_CD
348,030720,동원수산,KOSPI,"농업, 임업 및 어업","6,640",-60,-0.90,"30,901,265,200",2
542,004970,신라교역,KOSPI,"농업, 임업 및 어업","9,140",-30,-0.33,"146,240,000,000",2

In [27]:
df['MKTCAP'] = df['MKTCAP'].str.replace(',', '').astype(int)

# MKTCAP 합계
agri_sum = df[df['IDX_IND_NM'] == "농업, 임업 및 어업"]['MKTCAP'].sum()
print(agri_sum)

177141265200